p {
    margin: 0;
    padding: 0;
}

#todo {
    height: 100%;
    background-image: url(../images/back.png);
    background-size: cover;
}

#todo #sign-title {
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 40px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}


#todo > .header > .newTask {
    width: 600px;
    margin: 0 auto;
    margin-top: 120px;
}


#todo > .header > p {
    text-align: right;
}

#todo > .header .button-logout {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    padding: 0;
    background-color: #78d64f;
    color: white;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.2s linear;
}

#todo > .header .button-logout:hover {
    opacity: 1;
}

#todo > .header > .newTask > input {
    width: 564px;
    height: 60px;
    font-size: 24px;
    padding: 0 16px 0 36px;
    border: 0;
    outline: none;
}

.todos-container {
    background:  #ffffff;
    width: 616px;
    margin: 0 auto;
    transform: translateX(8px);
}

.todos-container > ol {
    list-style: none;
    padding: 0;
}

.todos-container > ol > li {
    border-top: 1px solid lightgrey;
    white-space: pre-line;
    word-break: break-all;
    line-height: 1.2;
    font-size: 24px;
    padding: 15px 60px 15px 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.todos-container > ol > li .todo-content {
    margin-left: 30px;
    transition: all 0.2s linear;
}

.todos-container > ol > li .todo-content.done {
    color: lightgrey;
    text-decoration: line-through;
}

.todos-container > ol > li .logo-delete {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    background-image: url(../images/删除.png);
    background-size: cover;
    transition: all 0.2s linear;
}

.todos-container > ol > li .logo-delete:hover {
    background-image: url(../images/删除红.png);
}

.todos-container > ol > li > .checkbox-container {
    background-image: url(../images/未勾选.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    display: block;
}

.todos-container > ol > li > .checkbox-container .regular-checkbox {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    display: block;
    height: 30px;
    width: 30px;
    margin: 0;
    cursor: pointer;
}


.todos-container > ol > li > .checkbox-container .regular-checkbox:after {
    background-image: url(../images/未勾选32.png); 
    background-size: cover; 
} 

.todos-container > ol > li > .checkbox-container .regular-checkbox:checked:after {
    content: '';
    background-image: url(../images/勾.png);
    display: block;
    height: 30px;
    width: 30px;
}